{:kotoba.app/id "cloud.itonami.isic-8219", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid65qb3gbmiw3z5krozbvsfkzg4zffweuyb342elfl6vdfarvv67q", :kotoba.app/embed-url "ipfs://bafkreid65qb3gbmiw3z5krozbvsfkzg4zffweuyb342elfl6vdfarvv67q", :published {:archive "https://kotobase.net/ipfs/bafkreid65qb3gbmiw3z5krozbvsfkzg4zffweuyb342elfl6vdfarvv67q", :size 73190, :put-status 201, :get-status 200, :at "2026-08-15T13:31:55.925Z"}}
